/* 1. Base Styles / Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --reg: "JetBrains Mono Regular", monospace, sans-serif;
  --bold: "JetBrains Mono Bold", monospace, sans-serif;
  --border: 1px solid #4b4b4b;
  --primary: #f3be00;
  --primary-hover: #c59a00;
  --on-primary: #000;
  --overlay: #212121;
}

/* 2. Fonts */
@font-face {
  font-family: "JetBrains Mono Regular";
  src: url("../../assets/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono Bold";
  src: url("../../assets/fonts/JetBrainsMono-Bold.woff2") format("woff2");
}

/* 3. General Styles */
body {
  color: #f1f1f1;
  background-color: #121212;
  font-family: var(--reg);
}

.primary-btn {
  display: inline-block;
  padding: 8px 24px;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: var(--primary);
  transition: background 0.3s;
  border-radius: 8px;
  font-family: var(--bold);
  cursor: pointer;
  color: var(--on-primary);
  text-decoration: none;
  text-align: center;
}

.primary-btn:hover {
  background-color: var(--primary-hover);
}

.blur {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  filter: blur(6rem);
  background-color: var(--primary);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: -1;
}

.section-title {
  font-size: clamp(1.8rem, 2.5vw, 3rem);
  text-align: center;
  line-height: 1.6rem;
  margin: 4rem 0;
}

/* 4. Work Section */
#work {
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 32px;
}

.projects {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.project-description .links a.project-link {
  background-color: var(--primary);
  transition: background 0.3s;
}

.project-description .links a.project-link:hover {
  background-color: var(--primary-hover);
}

.skill-tags {
  margin: 16px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.skill-tag {
  padding: 4px 12px;
  border-radius: 8px;
  background-color: var(--overlay);
  color: var(--primary);
  text-decoration: none;
  transition: color 0.3s;
}

.skill-tag:hover {
  color: var(--primary-hover);
}

.project-description-text p {
  margin: 8px 0;
}

/* 5. Notice */
.notice {
  font-size: 2rem;
  text-align: center;
  padding: 24px;
  max-width: 1024px;
  margin: 32px 24px;
  background: var(--overlay);
  border-radius: 8px;
  border: 1px solid var(--primary);
}

/* 6. CTA */
#cta {
  margin: 32px auto;
  width: 100%;
  position: relative;
  max-width: 1024px;
}

#cta p {
  font-size: 2rem;
  padding: 24px;
}

/* 7. Footer */
footer {
  text-align: center;
  background-color: var(--overlay);
  padding: 16px;
  font-size: 1rem;
}

/* 8. Responsiveness */
@media screen and (min-width: 768px) {
  .projects {
    align-items: flex-start;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  #work {
    max-width: 1024px;
    margin: 32px auto;
  }
  .projects {
    gap: 32px;
  }
  .notice {
    margin: 32px auto;
  }
}
